<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.serket.cloud.mapper.BadgeMapper">
    <resultMap type="com.serket.cloud.bean.Badge" id="result">
        <id property="id" column="id"/>
        <result property="pharmacyId" column="pharmacyId"/>
        <result property="content" column="content"/>
        <result property="createDate" column="createDate"/>
        <result property="qrCode" column="qrCode"/>
        <result property="userId" column="userId"/>
        <result property="medicineId" column="medicineId"/>
        <result property="state" column="state"/>
    </resultMap>
    <insert id="save" parameterType="com.serket.cloud.bean.Badge">

        INSERT INTO `badge`
            (`id`,
             `content`,
             `createDate`,
             `pharmacyid`,
             `qrCode`,
              `medicineid`,
             `state`)
        VALUES (UUID(),
                #{content},
                #{createDate},
                #{pharmacyId},
                #{qrCode},
                 #{medicineId},
                #{state})
    </insert>
    <!--更新用户userid-->
    <update id="updataUserid" parameterType="map">
      UPDATE  badge SET userid =#{userid} WHERE qrCode=#{qrcode}
    </update>
    <!--获取二维码对应的内容-->
    <select id="getContent" parameterType="map" resultMap="result">
      SELECT  `id`, `content` FROM  badge WHERE `qrCode`=#{qrcode}
    </select>
    <!--添加历史记录-->
    <insert id="addHistrory" parameterType="map">
      INSERT INTO `cloud`.`badgehistory`
            (`id`,
             `Badgeid`,
             `ConfirmTime`,
             `userid`)
      VALUES (UUID(),
        #{badgeId},
        #{confirmTime},
        #{userid});
    </insert>
</mapper>