<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.serket.cloud.mapper.LogMapper">
    <resultMap type="com.serket.cloud.bean.Log" id="result">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
        <result property="remarks" column="remarks"/>
        <result property="registerDate" column="registerDate"/>
        <result property="phone" column="phone"/>
        <result property="address" column="address"/>
        <result property="state" column="state"/>
    </resultMap>
    <insert id="save" parameterType="com.serket.cloud.bean.Log">
        INSERT INTO  `logs`
            (`id`,
            `ip`,
            `accessDate`,
            `pharmacyid`,
            `userid`
            ,
            `url`)
        VALUES (UUID(),
            #{ip},
            #{accessDate},
            #{pharmacyid},
            #{userid},
            #{url})
    </insert>
    <!-- 查询列表 -->
    <select id="list" parameterType="com.serket.cloud.util.Page" resultMap="result">
        SELECT * FROM logs ORDER BY accessDate DESC
    </select>
</mapper>